@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: url("../img/fond1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contain{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
}

section{
    height: 90vh;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    height: 380px;
    width: 70%;
    text-align: center;
    background-color: rgba(155, 227, 241, 0.5);
    border-style: dashed;
    border-radius: 20px;
}

legend{
    font-weight: bold;
}

label{
    font-weight: bold;
    font-size: 15px;
}

#login,#password{
    width: 45%;
    height: 25px;
    border-radius: 10px;
    border: 2px solid rgb(245, 135, 217);
    outline: none;
    margin: 20px;
    padding: 3px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border-color 0.5s ease-in 0s, background-color 0.3s ease-in 0s, width 0.4s ease-out 0s;
}

#login:hover,#password:hover,#login:focus,#password:focus{
    border-color: rgba(32, 5, 12, 0.6);
    background-color: transparent;
    width: 50%;
}

span{
    position: relative;
    top: -20px;
    display: block;
    height: 13px;
    color: red;
}

[type="submit"],[type="reset"]{
    margin: 10px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    outline: none;
    font-weight: bold;
    background-color: rgba(243, 240, 242, 0.7);
    transition: width 0.5s ease-out 0s, backgound-color 0.3s ease-out 0s, color 0.3s ease-out 0s, border-color 0.3s ease-out 0s ;
}

[type="submit"]{
    border: 2px solid rgb(5, 185, 65);
    color: rgb(5, 185, 65);
}

[type="reset"]{
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

[type="submit"]:hover,[type="reset"]:hover{
    color: black;
    width: 120px;
    border-color: rgba(119, 78, 105, 0.7);
}

[type="submit"]:hover{
    background-color: rgba(5, 185, 65, 0.5);
}

[type="reset"]:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

#lien{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

#newclient,#forgotpassword{
    text-decoration: none;
    font-size: 20px;
}